
/* Start Contact Us */
.contact-us{
  background-color: #0F2A56;
}

.form-textboxes{
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

.form-textboxes #Email,#Name,.c-button,textarea{
   min-width: 60%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 18px;
    resize: both;
}
.form{
border: 1px solid #fff;
    background: #ffffff9c;
    border-radius: 6px;
    font-family: serif;
    font-weight: bold;
    margin: auto;
    resize: both;
    height: 750px;
    width: 650px;
    color: #000;
}
.flex-information{display:flex; color: #fff;}
#flex-address{flex-grow: 0.5;}
#flex-telephone{flex-grow:1;}
.c-button{
    background-color: #9C1737;
    font-size: 16px;
    padding: 14px 24px;
    color: white;
    border-radius: 4px;
    border: 0.5px white;
    width: 15%;

}
.c-button:hover{background-color:#2579b3;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

/* End Contact Us */


/* Start Footer Coptright */

@media screen and (max-width:768px){

  /* Start Contact us */
  .form-textboxes #Email,#Name,.c-button,textarea{
    width: 40%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 18px;
    resize: both;
}

.flex-information{
  display: block;
}
  /* End Contact us */

}
