.News{
  background-color: #0F2A56;
}



#blocks article{padding: 10px;}
#blocks article p{
        color: #fff;
    }

#blocks article h2{
    color: #fff;
    }

.upbar{
        display:flex;
        min-width: 200px;
        flex-wrap:wrap;
        justify-content: space-around;
        padding: 10px;

    }
.upbar h2{ color: #fff;}

/*image hover effects*/
.image1 p{display:none;
           position:absolute;
           background-color: #9c1737;
           font-size:120%;
           color: #fff;
          }

.image1:hover p{ display: inline;}

.image2 p{display:none;
           position:absolute;
           background-color: #9c1737;
           font-size:120%;
           color: #fff;
          }

.image2:hover p{ display: inline;}

.image3 p{display:none;
           position:absolute;
           background-color: #9c1737;
           font-size:120%;
           color: #fff;
          }

.image3:hover p{ display: inline;}
/*hover effects end*/
